.body {
    height: 100vh;
    width:100vw;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h4 {margin: 5px;}

.messageBoard {
  padding-bottom: 4.2rem; //solves a problem with react-scroll-to-bottom
  overflow: hidden;
  position: relative;
  border: solid 1px indigo;
  width: 70vw;
  height:70vh;
  background: #59C173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .topBar{
    background: #D4D3DD;
    //height:15%;
    display:flex;
    justify-content: space-between;
    padding:5px;
    .imgOne{
      width: 20px;
      overflow:hidden;
      height: 20px;
      white-space:nowrap;
    }
  }
}

.inputField{
  position: relative;
  input { 
    display: inline-block;
    width: 87%;
    padding: 1em 0 1em 0;
  }
  input[type="submit"] {
    // display: inline-block;
    width: 13%;
  }
}